<div class="card rounded-0 mt-4" *ngIf="carDetails != null">
    <div class="card-header text-center rounded-0 mt-4">
      <div class="card-body">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner  d-flex "
             style="height: 50vh; min-height: 20rem; max-height: 30rem">
    
              
              <img
              *ngFor="let image of carDetails.carImages let i = index"
              [src]="getImagePath(image.imagePath)"
              class="img-thumbnail"
              style="height: 100%; width: 100%; object-fit: contain"
              [alt]="getImagePath(image.imagePath)"
            />
             </div>
              <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleControls"
              data-bs-slide="prev"
            >
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    
        </div>
    </div>
        <div> </div>
        <div style="text-align:center"  aria-current="true" *ngIf="carDetails"><h4>
            {{carDetails.car.brandName}} 
        </h4></div>
    <table class="table">
       
        <thead>
            <tr>
                <th>Id</th>
                <th>Marka</th>
                <th>Renk</th>
                <th>Model Yılı</th>
                <th>Fiyat</th>
                <th>Kirala..</th>
                
     
            </tr>
        </thead>
        <tr *ngIf="carDetails" >
            <td>{{carDetails.car.carId}} </td>
            <td>{{carDetails.car.brandName}}</td>
            <td>{{carDetails.car.colorName}}</td>
            <td>{{carDetails.car.modelYear}}</td>
            <td>{{carDetails.car.unitPrice}} TL</td>
            <td ><button routerLink="/cars/rental/{{carDetails.car.carId}}"  type="button" class="btn btn-outline-success">Kirala</button></td>
          
            
        </tr>
        </table>